<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/assets/favico.png">

    <title>Flop Evaluator</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



    <!-- Custom styles for this template -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='titlepage.css') }}">
  </head>
  <body>

    <header>
    <div id = 'nav'>
      <a class = 'b_button'  href="login" style="cursor: pointer">Log In Here!</a>
    </div>

    </header>

    <main role="main">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-interval="1500">
            <div id = 'addImg'>
              <img class="featurette-image img-fluid mx-auto" src="/static/assets/front1.png"/>
              <img class="featurette-image img-fluid mx-auto" src="/static/assets/front2.png">
              <img class="featurette-image img-fluid mx-auto" src="/static/assets/front3.png"/>
              <img class="featurette-image img-fluid mx-auto" src="/static/assets/front4.png"/>
              <img class="featurette-image img-fluid mx-auto" src="/static/assets/front5.png"/>
              <img class="featurette-image img-fluid mx-auto" src="/static/assets/front6.png"/>
              <img class="featurette-image img-fluid mx-auto" src="/static/assets/front7.png"/>
              <img class="featurette-image img-fluid mx-auto" src="/static/assets/front8.png"/>
              <img class="featurette-image img-fluid mx-auto" src="/static/assets/front9.png"/>
              <img class="featurette-image img-fluid mx-auto" src="/static/assets/front10.png"/>
              <img class="featurette-image img-fluid mx-auto" src="/static/assets/front11.png"/>
              <img class="featurette-image img-fluid mx-auto" src="/static/assets/front12.png"/>
              <img class="featurette-image img-fluid mx-auto" src="/static/assets/front13.png"/>
              <img class="featurette-image img-fluid mx-auto" src="/static/assets/front14.png"/>
              <img class="featurette-image img-fluid mx-auto" src="/static/assets/front15.png"/>
              <img class="featurette-image img-fluid mx-auto" src="/static/assets/front16.png"/>

              
            </div>
            <div class="container">
              <div class="carousel-caption">
                <h1>Welcome to Flop Evaluator.</h1>
                <p>Improve your game, solidify your fundamentals, and move up in stakes without spending hundreds of dollars or watching hours of videos! </p>
                <p><a class="btn btn-lg btn-primary" href="signup" role="button">Sign Me Up!</a></p>
              </div>
            </div>
          </div>
      </div>
    </div>


      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Over 20 different GTO spots to analyze. </h2>
            <p class="lead">Don't spend hours solving preflop or buying expensive charts. With one click, you will be able to analyze any flop using our pre-solved ranges, building a strong foundation for any situation. </p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/static/assets/ranges.png"/>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Detailed breakdown of both player's ranges.</h2>
            <p class="lead">Quickly learn the GTO breakdown of each player's range in any situation for any flop! Flop Evaluator shows you exactly what consists of each player's ranges, including overpairs, strong middle pairs, open-ended straight draws, combo draws, and more.</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="/static/assets/breakdown.png"/>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Quick calculations of equity of hand vs ranges.</h2>
            <p class="lead">Not sure how wide to float? Unsure whether you're getting the right odds to chase your draw? Find out if you are making a profitable call by seeing the equity of your hand against villain's range.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/static/assets/equity.png"/>
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->

    </main>

  </body>
</html>
